.tictactoe-row {
    display: flex;
}

.tictactoe-cell {
    font-size: 48px;
    padding: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
}

.tictactoe-row-mid {
    border-top-style: solid;
    border-bottom-style: solid;
}

.tictactoe-col-mid {
    border-left-style: solid;
    border-right-style: solid;
}

.gameListHeading {
    margin-bottom: 10px;
}

.account {
    margin-top: 50px;
}

.newGameButton {
    margin-top: 25px;
}